---
import Layout from '../layouts/Layout.astro'
import { db, eq, Participant, NBATeam } from 'astro:db'

const data = await db
  .select()
  .from(Participant)
  .innerJoin(NBATeam, eq(NBATeam.id, Participant.favoriteTeamId))
---

<Layout title="NBA Playoff Scoring Pool">
  <main>
    <h1>Welcome to NBA Playoff Scoring Pool!</h1>

    <div>
      {
        data.map((row) => (
          <div>
            <h2>{row.Participant.name}</h2>
            <p>{row.NBATeam.name}</p>
          </div>
        ))
      }
    </div>
  </main>

  <style></style>
</Layout>
