---
import Layout from '../layouts/Layout.astro'

import Leaderboard from '../components/Leaderboard.svelte'
import getParticipantScores from '../stats/participantScores'

const participantScores = await getParticipantScores()
---

<Layout title="Scoring Pool">
  <main>
    <h1>NBA Playoffs 2024 Scoring Pool</h1>

    <p>
      These stats should update every 10 minutes or so. You need to refresh your
      page for the stats to update.
    </p>

    <Leaderboard participantScores={participantScores} />
  </main>
</Layout>
